.header__lang-link {
    display: flex;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
}


.header__lang-link:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}