.logo_place_header {
    margin-top: 28px;
    margin-left: 48px;
    max-width: 176px;
    min-height: 52px;
}

@media (max-width: 767px) {
    .logo_place_header {
        max-width: 142px;
        min-height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
}