.header__lang-link_lang_ru {
    margin: 0 18px 0 0;
    max-width: 30px;
    min-height: 28px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
}

.header__lang-link_lang_ru:hover {
    text-decoration: underline;
}