.header__lang-link_lang_en {
    display: flex;
    margin: 46px 48px 0;
    max-width: 29px;
    min-height: 28px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
}

.header__lang-link_lang_ru:hover {
    text-decoration: underline;
}