.intro__text {
  max-width: 690px;
  min-height: 208px;
  margin: 40px auto 0 148px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26.08px;  
}

@media (max-width: 1279px) {
  .intro__text {
    margin-left: 48px;
  }
}

@media (max-width: 1023px) {
  .intro__text {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .intro__text {
    margin: 40px 16px 0 16px;
  }
}