.container__column_content_info {
    margin: 0 0 0 40px;
    max-width: 484px;
}

@media (max-width: 767px) {
    .container__column_content_info {
        margin-left: 16px;
        max-width: 288px;
    }
}